header {
    display: flex;
    flex-direction: row;
}

.logo-box{
    width: 7%;

}

.logo-box__logo {
    max-width: 100%;
}

.title-box {
    width: 100%;
    text-align: center;
    
    margin-left: -10%;
}

.entry-viewer {
    background-color: cadetblue;
    height: 29em;
    padding-top: 1%;
}

.entry-viewer__highlighted{
    background-color: rgb(109, 30, 255);
    max-width: 40%;
    height: 80%;
    margin-left: 1%;
    padding: 2%;
    
}

.entry-card {
    width: 95%;
    height: 80%;
    border: 1px solid;
    margin-bottom: 3%;
    padding: 1%;
    
}

.entry-input {
    background-color: darkslateblue;
    height: 17em;
}

.entry_delete {
    float: right;
    margin-top: 6%;
    margin-left: 3%;

    
}
 .entry_edit {
     float: right;
     margin-top: 6%;
 }


footer {
    text-align: center;
}