header {
    display: flex;
    flex-direction: row;
}

.logo-box{
    width: 4.5%;
}

.logo-box__logo {
    max-width: 100%;
}

.title-box {
    width: 100%;
    text-align: center;
    margin-left: -10%;
}

.entry-viewer {
    background-color: cadetblue;
    display: flex;
}

aside {
    background-color: chartreuse;
    width: 35%
}

.entry-viewer__highlighted{
    background-color: rgb(109, 30, 255);
    width: 65%;
    height: 25em;
}

.entry-card {
    border: 1px solid;
    margin: 1%;
    height: 20em;
}

.entry-input {
    background-color: darkslateblue;
    height: 23em;
    padding: 1em;
    display: flex;
    flex-direction: column;
}

.entry_delete {
    float: right;
    margin: 1em;
}

 .entry_edit {
     float: right;
     margin: 1em;
 }

.input-head {
    text-align: center;
} 

#todaysDate {
    max-width: 10%;
    margin-bottom: 1%;
}

#moodBox {
    max-width: 10%;
    margin-bottom: 1%;
}

#conceptsBox {
    max-width: 30%;
    margin-bottom: 1%;
}

.entry-submit {
    max-width: 8%;
    align-self: flex-end;
    margin-top: 1%;
}

footer {
    text-align: center;
}