header {
    display: flex;
    flex-wrap: nowrap;
}

.logo-box__logo {
    max-width: 15%;
}

.title-box {
    padding-top: 1.5%;
}

.entry-viewer {
    background-color: cadetblue;
    height: 29em;
    padding-top: 1%;
}

.entry-viewer__highlighted{
    background-color: rgb(109, 30, 255);
    max-width: 45%;
    height: 90%;
    margin-left: 1%;
    
}

.entry-input {
    background-color: darkslateblue;
    height: 17em;
}

.entry_delete {
    float: right;

    
}
 .entry_edit {
     float: right;
 }


footer {
    text-align: center;
}