header {
    display: flex;
    flex-direction: row;
}

.logo-box{
    width: 4.5%;
}

.logo-box__logo {
    max-width: 100%;
}

.title-box {
    width: 100%;
    text-align: center;
    margin-left: -10%;
}

.entry-viewer {
    background-color: cadetblue;
    display: flex;
}

.entry-viewer__highlighted{
    background-color: rgb(109, 30, 255);
    width: 75%;
    height: 26em;
    display: flex;
    flex-wrap: wrap;
}

.entry-date {
    border: 1px solid;
    max-width: 15%;
    margin: 1%;
    padding: 1%;
    border-radius: 10px;
}

.entry-title {
    border: 1px solid;
    max-width: 25%;
    margin: 1%;
    padding: 1%;
    border-radius: 10px;
}

.entry-entry {
    border: 1px solid;
    margin: 1%;
    padding: 1%;
    border-radius: 10px;
    
}

.entry-card {
    border: 1px solid;
    margin: 1%;
    height: 20em;
    border-radius: 10px;
}

.entry-input {
    background-color: lightslategray;
    padding-left: 1%;
    padding-bottom: 1%;
    padding-right: 1%;
    display: flex;
    flex-direction: column;
}

.entry_delete {
    margin: 1em;
}

.entry-button-box {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
 .entry_edit {
     margin: 1em;
 }

 #postsAside {
    background-color: chartreuse;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.postTab {
    padding: 1%;
    border: 2px solid;
    border-radius: 10px;
    max-width: 85%;
    margin-left: 6%;
}

.input-head {
    text-align: center;
} 

#todaysDate {
    max-width: 10%;
    margin-bottom: 1%;
}

#moodBox {
    max-width: 10%;
    margin-bottom: 1%;
}

#conceptsBox {
    max-width: 30%;
    margin-bottom: 1%;
}

#newEntry {
    max-width: 45%;
}

.entry-submit {
    max-width: 10%;
    align-self: flex-end;
    margin-top: 1%;
}

footer {
    text-align: center;
}