header {
    display: flex;
    flex-direction: row;
}

.logo-box{
    width: 4.5%;
}

.logo-box__logo {
    max-width: 100%;
}

.title-box {
    width: 100%;
    text-align: center;
    margin-left: -10%;
}

.entry-viewer {
    background-color: cadetblue;
    display: flex;
}

.entry-viewer__highlighted{
    background-color: rgb(109, 30, 255);
    width: 75%;
    height: 26em;
}

.entry-card {
    border: 1px solid;
    margin: 1%;
    height: 20em;
}

.entry-input {
    background-color: rgb(37, 13, 190);
    padding-left: 1%;
    padding-bottom: 1%;
    padding-right: 1%;
    display: flex;
    flex-direction: column;
}

.entry_delete {
    float: right;
    margin: 1em;
}

 .entry_edit {
     float: right;
     margin: 1em;
 }

 aside {
    background-color: chartreuse;
    width: 25%;
    display: flex;
    flex-direction: column;
}

.postTab {
    padding: 1%;
    margin: 2%;
    border: 2px solid;
    border-radius: 10px;
    max-width: 75%;
}

.input-head {
    text-align: center;
} 

#todaysDate {
    max-width: 10%;
    margin-bottom: 1%;
}

#moodBox {
    max-width: 10%;
    margin-bottom: 1%;
}

#conceptsBox {
    max-width: 30%;
    margin-bottom: 1%;
}

#newEntry {
    max-width: 45%;
}

.entry-submit {
    max-width: 8%;
    align-self: flex-end;
    margin-top: 1%;
}

footer {
    text-align: center;
}